<<<<<<< HEAD
#log{
=======
#registro{
>>>>>>> master
  float: right;
  padding: 0% 5%;
  text-align: center;
  align-self: stretch;
  margin: 0;
}

#acceso{
  font-size: 20%;
}

#logo {
  float: left;
  padding: 0% 5%;
  width: 7%;
  height: 7%;
  margin: 0;
}

#titulo {
  letter-spacing: 0.15em;
  font-size: 225%;
  padding: 0% 10%;
  text-align: center;
  margin: 0;
}

#cabezera{
  background-color: grey;
  align-items: stretch;
  align-content: stretch;
  margin: 1%;
  padding: 2% 5% 2%;
}

#user {
  font-weight: bold;

}

#user {
  font-weight: bold;

}
