#logo {
  float: left;
  width: 5%;
  height: 5%;
  size: 12;
}

#titulo{
  text-align: center;
  align-items: center;
  font-size: 200%;
  padding-left: 20%;
  padding-right: 20%;
}

#login{
  float: right;

  text-align: center;
}

#cabezera{
  align-items: center;
}


#user{
  font-weight:
  
}

/* -------------------------------------------------------------------------- */
