body {
  height: -webkit-fill-available;
  margin: 0;
  width: -webkit-fill-available;
  overflow: hidden;

}

a:-webkit-any-link {
  text-decoration: none;
  color: darkred;
}

a:visited{
  color: red;
}

#cabezera .logo {
  float: left;
  width: 100px;
  height: -webkit-fill-available;
  padding: 0% 5%;
}

#cabezera .titulo{
  text-align: center;
  align-items: center;
  font-size: 100%;
  padding: 1% 25%;
}

#cabezera .login1{
  float: right;
  text-align: center;
  width: 15%;
  padding: 1%;
}

#cabezera .login{
  float: right;
  text-align: center;
  width: 20%;

}

#cabezera .login button{
  width: auto;
}

#cabezera .login .items{
  align-items: center;
  text-align: center;
  margin: 1%;
}

#cabezera{
  top: 0;
  left: 0;
  align-items: center;
  margin: 0%;
  height: 100px;
  width: -webkit-fill-available;
  background-color: beige;
  padding: 1%;
}

#cabezera a:hover{
  color: grey;
}

#cabezera a:active {
  color: white;
}

#cabezera a:visited {
  background-color: #ddd;
  color: black;
}

#user{
  font-weight: bold;
}




/* -------------------------------------------------------------------------- */

#cuerpo{
}

section .flechas{

    font-size: -webkit-xxx-large;
    text-decoration: none;
    color: black;

}

#imagen_relacionada {
  height: fit-content;
  float: left;
  margin: 0%;
  align-items: stretch;
  width: 50%;
  object-fit: fill;
}

#imagen_relacionada img{
  width: 100%;

}

#libros{
  float: right;
  margin: 0%;
  align-items: center;
  width: 50%;
  text-align: center;
}

#libros .item{
  margin: 1%;
  padding: 1%;
  /* height: 78%; */
  display: inline-block;
}

#libros .lista{
  padding: inherit;
  margin: inherit;
  position: relative;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: scroll;
  padding-bottom: 28%;
}



#libros .a{
  text-decoration: none;
  color: pink;
}

#secciones{
  width: auto;
  padding: 0%;
  display: flex;
  background: antiquewhite;
  list-style: none;
  margin: auto;
}

#secciones .item1{
  width: 50%;
  text-align: center;
  float: left;
}

#secciones .item2{
  width: 50%;
  text-align: center;
  float: right;
}

#libros .titulo{
  float: right;
  margin: inherit;
  padding: inherit;
  text-align: center;
  width: 70%;
  font-weight: bold;
  font-size: larger;
}

#libros .portada {
  float: left;
  width: 180px;
  height: 270px;
  margin: inherit;
  padding: inherit;
  object-fit: fill;
}

#libros .descripcion {
  float: right;
  width: 70%;
  margin: inherit;
  padding: inherit;
}

#libros .autor {
  float: right;
  width: 70%;
  margin: inherit;
  padding: inherit;
  text-align: center;
  font-weight: bold;
}

/* -------------------------------------------------------------------------- */
#contacto {display:inline-block;margin-right:10%;}
#pdf {display:inline-block;}

#pie {
  left: 0;
  bottom: 0px;
  position: fixed;
  display: inline-block;
  align-items: center;
  width: -webkit-fill-available;
  text-align: center;
  background-color: grey;
  float: left;
  /* height: -webkit-fill-available; */
  /* padding: 1%; */
  z-index: 30;
}


/* -------------------------------------------------------------------------- */

/* #navbar{
  display: inline-block;
  text-align: center;
  width: -webkit-fill-available;
  padding: 1%;
  margin: inherit;
  background-color: pink;
}

#navbar .item{
  padding: 1%;
}

#navbar .active{
  font-weight: bold;
  padding: 1%;
} */


#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-weight: 600;
  padding: 1%;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

#navbar .icon {
  display: none;
}


#libros_leidos{
  float: left;
  margin: 0%;
  align-items: center;
  width: 50%;
  text-align: center;
}

#libros_leidos .item{
  margin: 1%;
  padding: 1%;
  display: inline-block;
}

#libros_leidos .lista{
  padding: inherit;
  margin: inherit;
  position: relative;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow-y: auto;
  padding-bottom: 34%;
}



#libros_leidos .a{
  text-decoration: none;
  color: pink;
}



#libros_leidos .titulo{
  float: right;
  margin: inherit;
  padding: inherit;
  text-align: center;
  width: 70%;
  font-weight: bold;
  font-size: larger;
}

#libros_leidos .portada {
  float: left;
  width: 20%;
  object-fit: fill;
  margin: inherit;
  padding: inherit;
}

#libros_leidos .descripcion {
  float: right;
  width: 70%;
  margin: inherit;
  padding: inherit;
  height: 100px;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

#libros_leidos .autor {
  float: right;
  width: 70%;
  margin: inherit;
  padding: inherit;
  text-align: center;
  font-weight: bold;
}










#ultimos_subidos{
  float: right;
  margin: 0%;
  align-items: center;
  width: 50%;
  text-align: center;
}

#ultimos_subidos .item{
  margin: 0%;
  padding: 0%;
  display: inline-block;
  width: -webkit-fill-available;
}

#ultimos_subidos .lista{
  padding: inherit;
  margin: inherit;
  position: relative;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: scroll;
  padding-bottom: 40%;
}



#ultimos_subidos .a{
  text-decoration: none;
  color: pink;
}



#ultimos_subidos .titulo{
  float: left;
  margin: 1%;
  padding: 1%;
  width: 40%;
  font-weight: bold;
  font-size: larger;
  color: darkmagenta;
}


#ultimos_subidos .autor {
  float: right;
  width: 40%;
  margin: 1%;
  padding: 1%;
  text-align: center;
  font-weight: bold;
}

#ultimos_subidos .altalibro{
  position: fixed;
  text-align: -webkit-center;
  width: 50%;
  margin: inherit;
  bottom: 50px;
  padding: 1%;
  background: blanchedalmond;
}

#navbar .menu{
  display: none;
}

#trigger {
  width: 100%;
  display: none;
}

@media screen and (max-width: 600px) {

  /* Body */

  #ultimos_subidos {
    width: 100%;
    position: fixed;
    z-index: 10;
    background: aliceblue;
  }

  #ultimos_subidos .altalibro {
    width: 100%;
  }

    #libros_leidos {
      position: fixed;
      width: 100%;
      z-index: 20;
      background: aliceblue;
      overflow-y: auto;
    }

    #libros_leidos .lista{
      padding-bottom: 50%;
    }

    #ultimos_subidos .lista{
      padding-bottom: 53%;
    }


    #libros_leidos .portada{
      width: 90px;
      height: 135px;
    }

    #libros_leidos .descripcion {
      height: 135px;
      overflow: hidden;
    }


/*  */
    #secciones .item1 {
      color: green;
    }

    #libros_leidos .box {
      visibility: visible;
    }

    #trigger:checked + #libros_leidos{
      visibility: hidden;
      z-index: 0;

    }


    #trigger {
      width: 100%;
      display: none;
    }

}
@media screen and (max-width: 600px) {
  #cabezera{
    height: 100px;
  }

  #cabezera .logo {
    float: right;
    padding: 0% 10%;
  }

  #cabezera .titulo {
    width: 50%;
    float: left;
    padding: 1%;
    margin: 1%;
  }

  #cabezera .login{
    display: none;
  }

  #cabezera .login1{
    display: none;
  }

  #navbar a:not(:first-child) {display: none;}

  #navbar .menu {
    position: absolute;
    padding: 2%;
    margin: 0%;
    display: flex;
    z-index: 20;
    right: 0;
  }

  #navbar a {

padding: 2%;

width: 100%;

cursor: default;

}

  #navbar a:hover{
    background: #4CAF50;
    color: white;
  }

  #navbar a:active{

  }

  #navbar .menu label span {
  }



  #navbar .menu input:checked + span {
  }

  #navbar input#toggle {
      display: none;
  }

  input#toggle:checked ~ .menu {

      }




}
